script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
script(src='js/frontend.js')
br
center
  h2 TorchLight - Tor Network Status
  br
  
  br
  h3 Current # of Onion Routing Sockets:
  h3#node-count #{connections.length}
  h4
    a(href="/raw") JSON
    br
    br
    a(href="http://github.com/sheldonth/torchlight") Source
  